*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    padding:0;
    border:0;
    margin:0;
    z-index: -1;
    background-image: url(./images/girl_pic.png);
    backdrop-filter: blur(12px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container1{
    
    display:flex;
    background-color:transparent;
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    height:90vh;
    width:85vw;
    border:0;
    background-color:transparent;
}
.card1{
    border-top-left-radius:3%;
    border-bottom-left-radius:3%;
    width:45%;
    height:90%;
    background-image:url(./images/girl_pic.png);
    background-position:50%;
    background-size:cover;
    background-repeat:no-repeat;
    
}
.card2{
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    height:90%;
    width:45%;
    background-color: #a6cde5b8;
    padding:2em;
}


.heading{
    display: inline-block;
    position:relative;
    left:50%;
    margin-top:2%;
    margin-bottom: 3%;
    font-family: 'Kaushan Script', cursive;
    transform: translate(-50%,0);
    color:rgb(6, 6, 87);
    font-size: 2em;
}
.cursive-font{
    font-family: 'Dancing Scr', cursive;
}

.para{
    display: flex;
    flex-direction: column;
    gap:0.6em;
    font-size: 1em;
    font-weight:lighter;
    color:rgb(42, 24, 205);
    padding-top:1em;
    
}

.login{
    cursor: pointer;
    color: rgb(18, 4, 138);
}
.login:hover{
    color:rgb(240, 101, 101);
}
.signUp{
    padding-top: 1.5em;
    font-family: 'PT Sans', serif;
    font-size:1.5em;
    color: rgb(6, 6, 87);
    text-decoration:overline;
}

label{
    display: inline-block;
    margin-bottom: 6px;
}

.form__row{
    display:flex;   
}

.form__group{
    position: relative;
    padding:1em;
    width:50%;
}
input{
    width: 100%;
    border-radius:5%;
    padding: 0.7em;
    border: 0;
    background-color: #a6cde54e;
    /* rgba(225, 235, 244, 0.784 */
    outline: none;
    font-size: 1em;
    color:rgb(6, 6, 87);
    font-family: 'Dancing Scr', cursive;
}
.form__group span{
    display: inline-block;
    position: absolute;
    left:1em;
    top:1.6em;
    padding-left:0.6em;
    font-size:1em;
    margin:0;
    border:0;
    color:rgb(1, 1, 168);
    /* text-transform: uppercase; */
    pointer-events: none;
    transition: 0.4s;
}
input:focus ~span ,
input:valid ~span{
    color: rgb(0, 0, 0);
    transform:translateX(10px) translateY(-9px);
    font-size:0.8em ;
    font-weight: 700;
    padding: 1 0.5em;
    /* #a6a7e54b */
    background-color: #5463ecf1;
    border-left :2px solid rgb(5, 5, 155);
    border-right: 2px solid rgb(5, 5, 155);
    letter-spacing: 0.2em;
}

input:focus{
    border: 2px solid rgb(44, 30, 193);
}

input[type=submit]{
    width:32%;
    padding: 0.7em;
    text-decoration: none;
    cursor: pointer;
    border:none;
    color:rgb(1, 1, 168);
    position: relative;
    left: 50%;
    transform: translate(-65%,0%);
    font-weight: bold;
}
input[type=submit]:focus{
    background-color:rgb(44, 30, 193);
    color:rgb(239, 216, 185)
    /* rgb(6, 123, 233) */
}



/* media queries*/
@media screen and (max-width:1200px) {

    input:focus ~span[for="confirm-password"] ,
    input:valid ~span[for="confirm-password"]{
        letter-spacing:0em;
        width:9em;
    }
}
@media screen  and (max-width:700px){
    
    body{
        backdrop-filter: blur(0px);
        
    }
    .card1{
        display: none;
    }
    .container1{
        padding:0;
        margin:0;
        border:0;
        overflow-y:visible;
    }
    .container2{
        width:100vw;
        height:100vh;
        position:relative;
        top:105vh;
        margin-top: 0;
        padding-top: 0;

    }
    .card2{
        height: 110vh;
        width: 100vw;
        padding: 20%;
    }
}
@media screen and (max-width:600px){
    .form__row{
        flex-direction: column;
    }
    .para{
        font-size:1.4em;
        gap:0.9em;
    }
    .form__group{
        width: 100%;
        padding:0;
        margin:3%;
        border:0;
    }
    input[type=submit]{
        width:60%;
        margin:9%;
    }
    .form__group span{
        top:0.5em;
        padding-left: 0.5em;
    }
    .signUp{
        margin-bottom: 1em;
    }
}
